.contact-main {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-top: 48px; 
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 12px;
  background-color: #eafbe7;
}
.contact-info-section__heading,
.contact-form-section__heading {
  position: relative;
  padding-bottom: 10px;
}
.contact-info-section__heading::after,
.contact-form-section__heading::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  border-radius: 2px;
  background: #ffe66d;
  margin: 14px auto 0 auto;
}
